*{
	margin:0;
	padding: 0;
}
body{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 300px;
    color: #555;
    line-height: 2;
    letter-spacing: 1px;
}

nav{
	height: 100px;
	width: 100%;
	/*position: fixed;*/
}

.navbar-default{
  position: fixed;
  border:none;
  z-index: 1;
  opacity: 0.6;
}

.navbar-default .navbar-nav>li>a{
	color:#000;
	padding: 40px;
  font-size: 17px;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
}

.navbar-brand{
	color:#000;
	padding:40px;
	margin-left: 15px;

}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   opacity: 0.9;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 650px;
   width: 100%;
  }
  .container-fluid{
  	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-me h3{
  	padding-top: 90px;
  	padding-bottom: 20px;
  }

  .about-me{
  	background-color: #000;
  	width: 100%;
  	height: 650px;
    color:#FFF;
    font-size:15px;
  }

  .about-me img{
    width: 100%;
    height: 650px;

  }

.skill h3{
  	padding-top: 20px;
  	padding-bottom: 20px;
  }

  .skill{
  	background-color: #fff;
  	width: 100%;
  	height: 650px;
  	color:#000;
    font-size:15px;
  }

  .skill i{
  	font-size:400%;
  	display: inline-block;
  	padding-top: 100px;
  }

.proyects{
  	width: 100%;
  	height: 800px;
  	color:#fff;
    font-size:15px;
}

.proyects h3{
  color: black;
	padding-top: 20px;
  	padding-bottom: 20px;
}

.proyects img{
width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}


.contact{
    background-color: #000;
    width: 100%;
    height: 500px;
    color:#000;
    font-size:15px;
}

.contact i{
    font-size:300%;
    display: inline-block;
    padding-top: 100px;
    cursor: pointer;
  }

  .contact a{
    color: #fff;
    cursor: pointer;
  }

  .contact h3{
    color: #fff;
  padding-top: 50px;
    padding-bottom: 20px;
}

.contact h5{
  color: white;
}

.fa-github:before{
  color: white;
}

.fa-envelope:before{
  color: white;
}

.fa-linkedin-square:before{
  color: white;
}