*{
	margin:0;
	padding: 0;
}
body, html{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 900px;
    color: #555;
    line-height: 2;
    letter-spacing: 1px;
    height: 100%;
}


.navbar-default{
  position: fixed;
  border:none;
  z-index: 1;
  opacity: 0.6;
  background-color:#510E53;
  height: 100px;
  width: 100%;
}

.navbar-default .navbar-nav>li>a{
	color:#fafafa;
	padding: 20px;
  font-size: 17px;
  margin-top: 20px;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
}


.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   opacity: 0.9;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 650px;
   width: 100%;
  }

.carousel-caption h1{
  text-shadow: none;
  font-size: 40px;
  font-family: 'Shrikhand', cursive;
  margin-top: -250px;
  color: #c29ec3;
}

  .container-fluid{
  	padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
  }

  .about-me h2{
  	padding-top: 20px;
  }

  .about-me p{
    margin-top: 40px;
    font-size: 15px;
  }

  .about-me{
    opacity: 0.7;
  	background-image: url(../img/abaut2.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  	width: 100%;
  	height: 100%;
    color:#fafafa;
    padding: 20px;
  }

  .about-me img{
    width: 80%;
    margin-top: 40px;
    border-radius: 15px 15px 15px 15px;
    box-shadow:2px 2px 5px #A46FA6;
  }


.skill h2{
  	padding-bottom: 20px;
    color: #A46FA6;
  }

  .skill{
    
    font-size:15px;
    padding: 30px;
    width: 100%;
    height: 100%;
  }

  .skill i{
  font-size:500%;
  display: inline-block;
  color: #c29ec3;
  }

  .first{
  margin-top: 30px;
  }

.two{
  margin-top: 80px;
}

.panel{
  height: 500px;
  margin-top: -80px;
  border-radius: 15px 15px 15px 15px;
  box-shadow:2px 2px 5px #A46FA6;
}

.projects{
  	height:100%;
    position: relative;

}

.projects h2{
  color: grey;
  padding-bottom: 20px;
  margin-top: -80px;
}

.projects img{
    width: 100%;
    border-radius: 15px 15px 15px 15px;
}

.thumbnail{
    border-radius: 15px 15px 15px 15px;
    box-shadow:2px 2px 5px #A46FA6;
}

.btn-primary {
    color: #fff;
    background-color: #000;
    border-color: #000;
}

.contact{
    opacity: 0.7;
    background-image: url(../img/cont.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

#panel{
  margin-top: -80px;
  height: 400px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  box-shadow:2px 2px 5px #A46FA6;
}

.contact i{
    font-size:300%;
    display: inline-block;
    padding-top: 100px;
    cursor: pointer;
  }

  .contact a{
    color: #000;
    cursor: pointer;
  }


.contact h2{
  color: grey;
}

.fa-github:before{
  color: #000;
}

.fa-envelope:before{
  color: #000;
}

.fa-linkedin-square:before{
  color: #000;
}


/*responsive*/

@media only screen and (max-width: 600px){

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
   height: 100%;
  }


.about-me{
  height: 100%
  width:100%;
}

.about-me p{
  margin-top: 0;
}

.about-me img{
  width: 100%;
  margin-left: 5px;
  margin-top:-5px;
}

.skill{
  width: 100%;
  height: 100%;
}

.projects{
    width: 100%;
  height: 90%;
}


.contact{
  width: 100%;
  height: 100%;
  margin-top: 1029px;
}

.contact #panel{
  height: 600px;
}

.contact i{
  padding-top: 55px;
}



}